@font-face {
    font-family: "Password";
    src: url("../fonts/Password/Password.eot");
    src: url("../fonts/Password/Password.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Password/Password.woff2") format("woff2"),
    url("../fonts/Password/Password.woff") format("woff"),
    url("../fonts/Password/Password.ttf") format("truetype"),
    url("../fonts/Password/Password.svg#Password") format("svg");
}
